* {
    box-sizing: border-box;
  }

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-template-columns: 1fr; */
    background-color: #141414;
    background-image: url('assets/img/nnneon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -200px 150px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    }
a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;

}
ul {
    list-style: none;

}
.container1 {
    width: 92%;
    height: 100vh;
    margin: auto;
    margin-bottom: 100px;

}
/*NAV*/
.nav-main{
    font-size: 17px;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0px;

}
.nav-brand{
    margin-top: 12px;
    width: 50px;

}
.nav-main ul {
    display: flex;
    justify-content: flex-end;

}
.nav-main ul li{
    padding: 10px;

}
.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffff ;

}
.nav-main ul.nav-menu{
    flex: 1;

}
.menu-btn {
    cursor: pointer;
    position: absolute;
    font-size: 24px;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}
/*SHOW PROFILE*/
 h1{
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 15px;
    margin-bottom: 10px;
 
}
.showprofile{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.principal-text{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items:start;

}
.btnKnow{
   padding-top: 30px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #2086ca;
    border-radius: 2px;
    box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 12px 3px rgba(0,0,0,0.47);

}
.btnKnow:hover{
    color: #2086ca;
    background:#fff;

}
.header-profile{
    width: 500px;    

}
.container2 {
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.grilla{
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    width: 100%;
    height: 500px;
    margin-inline: 30%;
    margin-top: 50px;
    justify-items: center; /* Centra horizontalmente los elementos de la grilla */
    align-items: center;

}
.grilla .mirrorbtn{
    display:flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}
.circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    -webkit-box-shadow: -6px -5px 9.5px -5px #161616;
    -moz-box-shadow: -6px -5px 9.5px -5px #161616;
    box-shadow: -6px -5px 9.5px -5px #161616;

}
.label {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

}
.grilla .mirrorbtn .circle{
    background: #181818;
    background: -webkit-linear-gradient(118deg, #444444 0%, #3a3a3a 100%);
    background: linear-gradient(118deg, #363636 0%, #020202 100%);

}
.circle img{
    height: 50px;
    width: 50px;

}
.grilla .mirrorbtn:hover{
    border: 1px solid #2086ca

}
.btnKnowMobile{
    display: none;

}

@media (max-width: 800px) {
    .menu-btn {
        display: block;
      }
    
      .menu-btn:hover {
        opacity: 0.5;
      }
    .nav-main .nav-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: start;
        padding: 20px;
        margin: 0px 0px 0px 0px;
        top: 0;
        left: 0;
        height: 100%;
        width: 30%;
        min-width: 200px;
        background: linear-gradient(118deg, #3ac28e 5%, #1992e4 100%);
        border-radius: 0px 0px 100px 0px;
        transform: translateX(-500px);
        transition: transform .5s ease-in-out ;

    }
    .nav-main .nav-menu.show{
        transform: translateX(0px);
    }
    .nav-main ul li{
        padding-bottom: 70px;
    }
    a {
        font-size: 24px;
    }
    .container1 {
        height: auto;
        margin-bottom: 400px;
      }
    .showprofile{
        grid-template-columns: 1fr;
        height: auto;
        text-align: center;       
    }
    .header-profile{
        display: flex;
        justify-self: center;
        align-self: center;
    }
    .principal-text{
        justify-content: center;
        align-items: center;   
    
    }
    .container2 {
        margin-top: 20px;
    }
    .grilla {
        grid-template-columns: 1fr;
    }
    .btnKnowDesktop {
        display: none;
    }
    .btnKnowMobile{
        display: block;
        width: 400px;
        margin-top: 30px;
        text-align: center;
        justify-self: center;
    }
       
}
@media (max-width: 480px){
.menu-btn {
    right: -40px;
  }
}
@media (max-width: 350px) {
    .btnKnowMobile{
        margin-top: 150px;
    }
    
    /* body{background-repeat:repeat;}
     */
}